
body {
  color:White;
  font-family: Arial, sans-serif;
  background-image: url("https://t3.ftcdn.net/jpg/05/40/04/46/360_F_540044645_euvM4jng8cjqkpwT6NkjyfHePtREP3JA.jpg"); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  margin: 0;
  padding: 0; 
  height: 100vh; 
}



input[type="text"] {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  padding: 8px 15px;
  background-color: rgb(65, 139, 46);
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


#output {
  font-size: 40px;
  margin-top: 20px;
  padding: 10px;
}



#spiritAnimal {
  font-size: 40px;

  font-weight: bold;
  color: White;
}



p{
  font-size: 40px;
  color:greenyellow;
}

label {

  margin-bottom: 10px;
  font-size: 25px; 
}

p1{
  font-size: 30px;
}